@charset "UTF-8";
.modal__field,
.modal__comment,
.modal__check {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.footer-social__list, .footer-wrap__list, .example, .filter, .client__list, .team__social-list, .team__list, .task__list, .benefits__list, .header-contact__list, .header-nav__list, .mobile-socials, .mobile-contacts, .mobile-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.works, .client, .team, .task, .benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .works, .client, .team, .task, .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer-social__link, .footer-wrap__link, .example__link, .client__link, .team__link, .header-contact__link, .header-nav__link, .mobile-nav__link,
.mobile-contacts__link,
.mobile-socials__link, .logo {
  text-decoration: none;
  color: currentColor;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --bcg-pr-color: #ffffff;
  --bcg-sc-color: #2f303a;
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --black-color: #000000;
  --btn-bcg-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--bcg-pr-color);
  color: var(--primary-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-color);
}

.logo {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--black-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo-web {
  color: var(--accent-color);
}

.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn--primary {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn--secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--btn-bcg-color);
  color: var(--secondary-color);
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--secondary:hover, .btn--secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: border-color 250ms;
  transition: border-color 250ms;
}
.modal__close-btn:hover {
  border-color: var(--accent-color);
}
.modal__close-btn:hover .modal__close-icon {
  fill: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal__check:checked + .modal__icon-check .modal__icon-agree {
  opacity: 1;
}

.modal__comment-wrap {
  margin-bottom: 20px;
}

.modal__comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus {
  border-color: var(--accent-color);
}
.modal__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__field {
  padding-left: 42px;
  height: 40px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus + .modal__icon {
  fill: var(--accent-color);
}
.modal__field:focus {
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--secondary-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__titel {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-color);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__check-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.modal__link-agreement {
  color: var(--accent-color);
}

.modal__terms {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
@media screen and (min-width: 1200px) {
  .modal__terms {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal__btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__icon-agree {
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.mobile-nav__item:first-child {
  margin-bottom: 35px;
}
.mobile-nav__item:nth-child(2) {
  margin-bottom: 32px;
}

.mobile-nav__link--active {
  color: var(--accent-color);
}

.mobile-contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.mobile-contacts__item:first-child {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (max-width: 479px) {
  .mobile-socials {
    row-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mobile-socials__item {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-socials__item::after {
  content: "";
  padding-right: 10px;
  width: 1px;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__item:last-child {
  border: none;
  padding-right: 0;
}

.mobile-socials__item:last-child::after {
  border: none;
  padding-right: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    margin-left: 87px;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link--active {
  color: var(--accent-color);
}
.header-nav__link--active::after {
  content: "";
  position: absolute;
  border: 2px solid var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

/*------------------------------------------------------------------ header contacts ----------------------------------------------------------*/
.header-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contact__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contact__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 10px;
  }
}

.header-contact__item + .header-contact__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contact__item + .header-contact__item {
    margin-left: 0;
  }
}

/* Альтернитива 
    .header-contact__list .item:not(:last-child) {
    margin-right: 50px;
} */
.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contact__link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.decision {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
  background-color: var(--bcg-sc-color);
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../photos/bg/hero_m-min.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photos/bg/hero_m-min.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .decision {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../photos/bg/hero_m@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photos/bg/hero_m@2x-min.jpg");
  }
}
@media screen and (min-width: 481px) {
  .decision {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../photos/bg/hero_t-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photos/bg/hero_t-min.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .decision {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../photos/bg/hero_t@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photos/bg/hero_t@2x-min.jpg");
  }
}
@media screen and (min-width: 769px) {
  .decision {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../photos/bg/hero_d-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photos/bg/hero_d-min.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .decision {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../photos/bg/hero_d@2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photos/bg/hero_d@2x-min.jpg");
  }
}
@media screen and (min-width: 768px) {
  .decision {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) {
  .decision {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.decision__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .decision__title {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__item {
  max-width: 450px;
  /* width: calc((100%-90px)/4); */
}
@media screen and (min-width: 768px) {
  .benefits__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    max-width: 270px;
  }
}

.benefits__rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--btn-bcg-color);
}

@media screen and (max-width: 767px) {
  .benefits__item + .benefits__item {
    margin-top: 30px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__desc {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-color);
}

@media screen and (max-width: 1199px) {
  .task {
    display: none;
  }
}

.task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task__img {
  display: block;
}

.task__item + .task__item {
  margin-left: 30px;
}

.task__item {
  position: relative;
}

.task__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.task__title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.team {
  background-color: var(--btn-bcg-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__card {
  max-width: 450px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .team__card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    max-width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .team__card + .team__card {
    margin-top: 30px;
  }
}

.team__person {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__person {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-color);
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-color);
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 44px;
}

.team__item {
  width: 44px;
  height: 44px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team__icon {
  fill: currentColor;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: 210px;
  height: 92px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
    height: 92px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.example__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .example__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .example__item {
    max-width: 370px;
  }
}

@media screen and (max-width: 767px) {
  .example__item + .example__item {
    margin-top: 30px;
  }
}

.example__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example__link:hover .example__overlay, .example__link:focus .example__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.example__link:hover, .example__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__thumb {
  position: relative;
  overflow-y: hidden;
}

.example__overlay {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.example__text {
  padding-left: 24px;
  padding-right: 24px;
  max-height: 100%;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 340px) {
  .example__text {
    font-size: 16px;
  }
}

.example__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.example__prjct {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.example__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-sc-color);
}

.footer__container {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer-wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-wrap {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    width: 231px;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer-wrap__contacts {
  font-style: normal;
}

.footer-wrap__address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--white-color);
}

.footer-wrap__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wrap__link {
  display: block;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--footer-cont-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-wrap__link:hover, .footer-wrap__link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-social__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: left;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-color);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

/* --------------------------------------------------------------------------------footer forms---------------------------------- */
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: auto;
  }
}

.footer-subscribe__wrap {
  position: relative;
}

.footer-subscribe__title {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__title {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.footer-subscribe__field {
  margin-bottom: 20px;
  padding: 15px 16px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: var(--white-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe__field:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__field {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-subscribe__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 28px;
  fill: var(--white-color);
}

.btn--subscribe {
  position: relative;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .btn--subscribe {
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */