/* :root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --bcg-pr-color: #ffffff;
  --bcg-sc-color: #2f303a;
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --black-color: #000000;
  --btn-bcg-color: #f5f4fa;
} */
/* h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
} */
/* .container {
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  margin: 0 auto;
} */
/* .list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
} */
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .section.no-padding-bottom {
  padding-bottom: 0;
} */
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* ==================================================================Buttons styles ======================================================================================*/
/* .btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
} */
/* .btn--primary {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn--secondary {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--btn-bcg-color);
  color: var(--secondary-color);

  border-radius: 4px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--secondary:hover,
.btn--secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* ==================================================================================Body ===========================================================================================================*/

/* body {
  font-family: Roboto, sans-serif;
  background-color: var(--bcg-pr-color);
  color: var(--primary-color);
  letter-spacing: 0.03em;
} */

/* .section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-color);
} */

/*---------------------------------------------------------------------------- Header --------------------------------------------------------------------*/

/* .header {
  border-bottom: 1px solid #ececec;
}
.header__wrap {
  display: flex;
  align-items: center;
}
.header-nav__bar {
  display: flex;
  align-items: center;
}
.header-nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.header-nav__item:not(:last-child) {
  margin-right: 50px;
} */
/* .logo {
  display: block;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: var(--black-color);
}
.logo-web {
  color: var(--accent-color);
} */
/* .header-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}
.header-nav__link--active {
  color: var(--accent-color);
}
.header-nav__link--active::after {
  content: "";
  position: absolute;
  border: 2px solid var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
} */

/*------------------------------------------------------------------ header contacts ----------------------------------------------------------*/

/* .header-contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contact__item + .header-contact__item {
  margin-left: 50px;
} */
/* Альтернитива 
    .header-contact__list .item:not(:last-child) {
    margin-right: 50px;
} */
/* .header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover,
.header-contact__link:focus,
.header-contact__link .icon:hover,
.header-contact__link .icon:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
} */

/* ------------------------------------------------------------section decision --------------------------------------------------------------------------*/

/* .decision {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/Img.jpg");
  background-color: var(--bcg-sc-color);
  background-size: cover;
  background-position: center;
}
.decision__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
} */

/* =====================================================================section benefits__list =====================================================================*/

/* .benefits__list {
  display: flex;
}
.benefits__item {
  width: 270px;
}

.benefits__rect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--btn-bcg-color);
} */

/* Также можно было вместо использования псевдоклассов указать один класс с общими свойствами для всех элементов и потом отдельно создать классы для каждого элемента изменяя только bcg-image. и добавить эти классы в каждый элемент списка 
-----------------------------------------------------
.benefits__item::before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-antenna::before {
    background-image: url(../images/benefits/antenna.svg);
}
...
*/
/* .benefits__item:nth-child(1)::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/benefits/antenna.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.benefits__item:nth-child(2)::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/benefits/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.benefits__item:nth-child(3)::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/benefits/diagram.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.benefits__item:nth-child(4)::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/benefits/astronaut.svg);
  background-position: center;
  background-repeat: no-repeat;
} -------------------------------------------------*/
/* .benefits__item + .benefits__item {
  margin-left: 30px;
}
.benefits__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.benefits__desc {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-color);
} */

/* =====================================================================Task ===========================================================================*/

/* .task__list {
  display: flex;
}
.task__img {
  display: block;
}
.task__item + .task__item {
  margin-left: 30px;
}
.task__item {
  position: relative;
}
.task__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.task__title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
} */

/* ====================================================================section team =================================================*/

/* .team {
  background-color: var(--btn-bcg-color);
}
.team__list {
  display: flex;
}
.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team__card + .team__card {
  margin-left: 30px;
}
.team__person {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__img {
  display: block;
}
.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-color);
}
.team__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-color);
}

.team__social-list {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 44px;
}
.team__item + .team__item {
  margin-left: 10px;
}
.team__item {
  width: 44px;
  height: 44px;
}
.team__link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon {
  fill: currentColor;
}
.team__link:hover,
.team__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
} */

/* ================================================================client =============================================================*/

/* .client__list {
  display: flex;
}
.client__item + .client__item {
  margin-left: 30px;
}
.client__item {
  width: 170px;
  height: 92px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon {
  fill: currentColor;
}
.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
} */

/* ==================================================================================Portfolio =================================================================================*/

/* .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item + .filter__item {
  margin-left: 8px;
} */
/* .example {
  display: flex;
  flex-wrap: wrap;
}
.example__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}
.example__item:nth-child(3n) {
  margin-right: 0;
}
.example__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.example__thumb {
  position: relative;
  overflow-y: hidden;
}
.example__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example__link:hover .example__overlay,
.example__link:focus .example__overlay {
  transform: translateY(-100%);
}
.example__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-color);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example__link {
  display: block;
  width: 100%;
  height: 100%;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example__img {
  display: block;
}

.example__link:hover,
.example__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.example__prjct {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.example__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-color);
} */

/* =====================================================================footer================================================= */
/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bcg-sc-color);
}
.footer-wrap {
  width: 231px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
}
.footer-wrap__contacts {
  font-style: normal;
}
.footer-wrap__address {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}
.footer-wrap__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-wrap__link {
  display: block;

  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-cont-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-wrap__link:hover,
.footer-wrap__link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
}
.footer-social__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white-color);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icon {
  fill: currentColor;
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-subscribe {
  margin-left: auto;
}

/* --------------------------------------------------------------------------------footer forms---------------------------------- */
/* .footer-subscribe__wrap {
  position: relative;
}
.footer-subscribe__title {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.footer-subscribe__field {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: var(--white-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe__field:focus {
  border-color: var(--accent-color);
}

.footer-subscribe__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  fill: var(--white-color);
}
.btn--subscribe {
  position: relative;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  text-align: left;
}  */

/* ==============================================================================MODAL========================= */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
} */
/* .modal {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;

  transition: border-color 250ms;
}
.modal__close-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  border-color: var(--accent-color);
}
.modal__close-btn:hover .modal__close-icon {
  fill: var(--accent-color);
} */

/* ====================================================================================Modal FORMS======================================= */

/* .modal__heading {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(28 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__field,
.modal__comment,
.modal__check {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal__comment-wrap {
  margin-bottom: 20px;
}
.modal__comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus {
  border-color: var(--accent-color);
}
.modal__comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-wrap {
  position: relative;
  margin-bottom: 10px;
}
.modal__field {
  padding-left: 42px;
  height: 40px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus + .modal__icon {
  fill: var(--accent-color);
}
.modal__field:focus {
  border-color: var(--accent-color);
}
.modal__titel {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-color);
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__check-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 30px;
}
.modal__link-agreement {
  color: #2196f3;
}
.modal__terms {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.modal__btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal__icon-agree {
  opacity: 0;
  transition: opacity 250ms;
}
.modal__check:checked + .modal__icon-check .modal__icon-agree {
  opacity: 1;
} */
