.works{
    @extend %section;
}
.example {
    @extend %list;

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.example__item {
    max-width: 450px;
    
    @media screen and (min-width: 768px) {
        max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 370px;
    }
}

.example__item + .example__item {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }
}

.example__link {
    @extend %link;
    display:flex;
    flex-direction: column;
    height: 100%;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .example__overlay,
    &:focus .example__overlay {
        transform: translateY(-100%);
    }
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.example__thumb {
    position: relative;
    overflow-y: hidden;
}

.example__overlay {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.example__text {

    padding-left: 24px;
    padding-right: 24px;

    max-height: 100%;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--white-color);

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 340px){
        font-size: 16px;
    }
}

.example__desc {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.example__prjct {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}

.example__type {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-color);
}