.filter {
    @extend %list;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 8px;
    
    @media screen and (max-width:767px){
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 15px;
    }

    @media screen and (min-width:768px){
        margin-bottom: 30px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

// .filter__item + .filter__item {
//     margin-left: 8px;
// }