.task {
    @extend %section;
    @media screen and (max-width: 1199px){
        display: none;
    }
}
.task__list {
    @extend %list;
    display: flex;
}

.task__img {
    display: block;
}

.task__item + .task__item {
    margin-left: 30px;
}

.task__item {
    position: relative;
}

.task__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.task__title {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}