.logo {
    @extend %link;
    display: block;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    color: var(--black-color);
}

.logo-web {
    color: var(--accent-color);
}