.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal {
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 768px){
        width: 450px;
    }

    @media screen and (min-width: 1200px){
        width: 528px;
        height: 581px;
    }
}

.modal__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 50%;

    transition: border-color 250ms;
    &:hover {
        border-color: var(--accent-color);
    }   
    &:hover .modal__close-icon {
        fill: var(--accent-color);
     }
}

.modal__close-icon {
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__heading {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.modal__field,
.modal__comment,
.modal__check {
    @extend %form-field;
}

.modal__check {
    &:checked+.modal__icon-check .modal__icon-agree {
        opacity: 1;
    }
}

.modal__comment-wrap {
   margin-bottom: 20px; 
}

.modal__comment {
    padding: 12px 16px;
    height: 120px;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__field-wrap {
    position: relative;
    margin-bottom: 10px;
}

.modal__field {
    padding-left: 42px;
    height: 40px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus+.modal__icon {
        fill: var(--accent-color);
    }

    &:focus {
        border-color: var(--accent-color);
    }
}

.modal__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: var(--secondary-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal__titel {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--primary-color);
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__check-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 30px;
}

.modal__link-agreement {
    color: var(--accent-color);
}

.modal__terms {
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: var(--primary-color);
    
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}

.modal__btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    letter-spacing: 0.06em;

    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal__icon-agree {
    opacity: 0;
    transition: opacity 250ms;
}